header {
  .navbar
  {
    background-color: #fff;
    width: 100%;
    top: 0;
    border-radius: 0;
  }

  .navbar-brand {
    height: auto;
    .logo {
      height: 40px;
    }
  }


  // Social buttons
  .social-buttons {
    padding-top: 5px;
    padding-bottom: 5px;

    @media (min-width: 768px) {
      padding-right: 32px;
    }

    a {
        font-size: 1.3em;
        padding-right: 12px;
        &:last-child {
          padding-right:3px;
        } 

        @media (min-width: 321px) {
          padding-right: 20px;
        }

        @media (min-width: 768px) {
          padding-left: 10px;
          padding-right: 10px;
        }

      }

  }

  .social-buttons-container {
      @media (min-width: 768px) {
        float:right;
      }
  }

}