/** KidMix Hero **/

#kidmix-hero-carousel {
  .item {
    transition: transform 1.2s ease-in-out;

    background-repeat:no-repeat; 
    background-size:cover;
    background-position: center top;
    min-height: $km-carousel-slide-height;

    @media (min-width: 1400px) {
      background-position: 0px 0px;
      background-position: cover;
      // min-height: 1000px;
    }
  } //.item

  .item:nth-of-type(1) {
    background-image:url(../images/sliderImage-01-sm.jpg);
    @media (min-width: 414px) {
      background-image:url(../images/sliderImage-01-md.jpg);      
    }
    @media (min-width: 768px) {
      background-image:url(../images/sliderImage-01-lg.jpg);      
    }
  } // .item:nth-of-type(1)

  .item:nth-of-type(2) {
    background-image:url(../images/sliderImage-02-sm.jpg);
    @media (min-width: 414px) {
      background-image:url(../images/sliderImage-02-md.jpg);      
    }
    @media (min-width: 768px) {
      background-image:url(../images/sliderImage-02-lg.jpg);      
    }
  } // .item:nth-of-type(2)

  .item:nth-of-type(3) {
    background-image:url(../images/sliderImage-03-sm.jpg);
    @media (min-width: 414px) {
      background-image:url(../images/sliderImage-03-md.jpg);      
    }
    @media (min-width: 768px) {
      background-image:url(../images/sliderImage-03-lg.jpg);      
    }
  } // .item:nth-of-type(3)

  .item:nth-of-type(4) {
    background-image:url(../images/sliderImage-04-sm.jpg);
    @media (min-width: 414px) {
      background-image:url(../images/sliderImage-04-md.jpg);      
    }
    @media (min-width: 768px) {
      background-image:url(../images/sliderImage-04-lg.jpg);      
    }
  } // .item:nth-of-type(4)

  .item:nth-of-type(5) {
    background-image:url(../images/sliderImage-05-sm.jpg);
    @media (min-width: 414px) {
      background-image:url(../images/sliderImage-05-md.jpg);      
    }
    @media (min-width: 768px) {
      background-image:url(../images/sliderImage-05-lg.jpg);      
    }
  } // .item:nth-of-type(5)

  .item:nth-of-type(6) {
    background-image:url(../images/sliderImage-06-sm.jpg);
    @media (min-width: 414px) {
      background-image:url(../images/sliderImage-06-md.jpg);      
    }
    @media (min-width: 768px) {
      background-image:url(../images/sliderImage-06-lg.jpg);      
    }
  } // .item:nth-of-type(6)



} // #kidmix-hero-carousel

.kidmix-hero-wrapper {
  max-height: $km-carousel-slide-height;
  .kidmix-hero {
    padding: 0;
  } // .kidmix-hero
  
  .kidmix-hero-textOverlay {
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
    margin: 0 auto;
  } // .kidmix-hero-textOverlay
} // .kidmix-hero-wrapper