/** KidMix Hero **/

#kidmix-hero-carousel {
  .item {
    background-color: #76c278;
    
    background-repeat:no-repeat; 
    background-size:cover;
    background-position: center top;
    min-height: 600px;

    @media (min-width: 1400px) {
      background-position: 0px 0px;
      background-position: cover;
      min-height: 1000px;
    }
  } //.item

  .item:first-of-type {
    background-image:url(../images/sliderImage-01-md.jpg);
    @media (min-width: 768px) {
      background-image:url(../images/sliderImage-01-lg.jpg);      
    }
  }

  .item:nth-of-type(2) {
    background-image:url(../images/sliderImage-02-md.jpg);
    @media (min-width: 768px) {
      background-image:url(../images/sliderImage-02-lg.jpg);      
    }
  }

  .item:nth-of-type(3) {
    background-image:url(../images/sliderImage-03-md.jpg);
    @media (min-width: 768px) {
      background-image:url(../images/sliderImage-03-lg.jpg);      
    }
  }

  .item:nth-of-type(4) {
    background-image:url(../images/sliderImage-04-md.jpg);
    @media (min-width: 768px) {
      background-image:url(../images/sliderImage-04-lg.jpg);      
    }
  }

  .item:nth-of-type(5) {
    background-image:url(../images/sliderImage-05-md.jpg);
    @media (min-width: 768px) {
      background-image:url(../images/sliderImage-05-lg.jpg);      
    }
  }

  .item:nth-of-type(6) {
    background-image:url(../images/sliderImage-06-md.jpg);
    @media (min-width: 768px) {
      background-image:url(../images/sliderImage-06-lg.jpg);      
    }
  }



} // #kidmix-hero-carousel

.kidmix-hero-wrapper .kidmix-hero {
  padding: 0;

  .row:first-of-type {
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}