/** KidMix Hero **/
.km-hero {
  background-image:url('../images/bg-hero.png');
  background-repeat: no-repeat;
  background-size: cover; 
  padding:20px;
  h1 {
    margin-bottom: 60px;
  }

  .hero-steps {
    h2 {
      font-family: "Open Sans", Semibold, sans-serif;
      font-size: 24pt;
      font-weight: 600;
      background-color: #084796;
      display: inline-block;
      padding: 10px 40px 10px 10px; 
    } // h2

    ul {
      list-style: none;
      padding-left: 0;
      padding-top: 10px;
      color: #fff;
      font-size: 19pt;
      font-weight: 600;
      text-shadow: 2px 2px #084796; // color variable?
      li {
        display: inline-block;
        
        padding: 10px;
        width: 100%;
        span {
          display: inherit;
          position: relative;
          right: 10px;
          text-align: center; 
          width: 40px;
          height: 40px;
          border-radius: 20px;
          background-color: #F08170;
          
        } // span
      } // li
    } // ul
  } // .hero-steps
  

  #sign-up-box {
    .bg-wrapper {
      display: inline-block;
      min-height: 100px;
      width: 100%;
      background-color: #badcea;
      border:1px solid #7FA2B0;
      border-radius: 5px;
      padding: 10px;
      padding-top: 26px;
      padding-left: 30px;
      margin-top: 30px;

      .form-group-lg {
        padding-right: 15px;
        padding-left: 0;
        &:first-of-type {
          padding-left: 15px;
        }
      }

      .form-control {
        width: 100%;
      }
      
      .button-wrapper {
        right: 13px;
      }

      button {
        background-color: #55ba58;
        border-color: transparent;
        width: 240px;
      }

      div.mce_inline_error {
        width: 100%;
        text-align: center;
      }
    }
  } //#sign-up-box
} // .km-hero

#role-selector {
  font-size: 18pt;
  background-color: #fff; 
  color: #0e73ba;
  ul {
    list-style: none;
    margin-bottom: 0;

    .active {
      position: relative;
      color: #000;
      &:before {
        content: " ";
        // display: block; 
        width: 0; 
        height: 0;
        border-right: 12.5px solid transparent;       
        border-left: 12.5px solid transparent;
        border-bottom: 15px solid #fff;
        position: absolute;
        left: 36%;
        margin-top: -35px; 
        // margin-left: 1px;
        z-index: 1; 
      } // .active:before
    } // .active

    li { 
      display: inline-block;
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 10px 50px;
      border-right: 1px solid #ACACAC;

      
    } // li
  } // ul
} // #role-selector