/** KidMix Hero **/
.km-hero {
  background-image:url('../images/bg-hero.png');
  background-repeat: no-repeat;
  background-size: cover; 
  min-height: 750px;
  h1 {
    margin-top: 0;
  }
} // .km-hero