/** KidMix Hero **/



.km-hero {
  max-height: $km-carousel-slide-height;
  .textOverlay {
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
    margin: 0 auto;
  } // .textOverlay
} // .km-hero