body { 
font-family: "Open Sans", sans-serif;
font-weight:300;
color:#3e3e3e;
}

h1 {
font-family: "Open Sans", sans-serif;
font-weight:600;
margin-top:30px;
color:#fff;
font-size:4em;
text-shadow: 2px 2px #979d79;
}

h1 small {
font-family: "Open Sans", sans-serif;
font-weight:300;
margin:0;
color:#fff;
font:1.8em;
}

h2 {
font-family: "Open Sans", sans-serif;
font-weight:300;
font-size:3em;
margin:0;
color:#FFFFFF;
}

h3, h5, h6 {
font-family: "Open Sans", sans-serif;
font-weight:300;
margin:0;
color:#FFFFFF;
}

h4 {
font-family: "Open Sans", sans-serif;
font-weight:400;
font-size:1.1em;
margin:0;
color:#3e3e3e;
}

/** Header Navigation **/
.kidmix-hero
{
	background-color: #76c278;
	background-image:url(../images/kidmix-hero.jpg); 
	background-repeat:no-repeat; 
	background-size:cover;
	background-position: center top;
	min-height:	600px;
}

@media (max-width: 320px) {
	.kidmix-hero {
		background-position: -85px 100px;
		background-size: 600px;
		min-height: 488px;
	}
	h1 {
		font-size: 2.2em;
	}
}

@media (max-width: 320px) and (min-height: 481) {
	.kidmix-hero {
		background-position: -85px 60px;
		background-size: 600px;
		min-height: 400px;
	}
	h1 {
		font-size: 2.2em;
	}
}

@media (min-width: 321px) and (max-width: 680px) {
	.kidmix-hero {
		background-position: -85px 90px;
		background-size: 767px 510px;
	}
	h1 {
		font-size: 3em;
	}
}

@media (min-width: 1400px) {
	.kidmix-hero {
		background-position: 0px 0px;
		background-image:url(../images/kidmix-hero-large.jpg); 
		background-position: cover;
		min-height:	1000px;

	}
	h1 {
		font-size: 5em;
	}
}

@media (min-width: 2200px) {
	.kidmix-hero {
		background-position: 0px 0px;
		background-image:url(../images/kidmix-hero-large.jpg); 
		background-position: cover;
		min-height:	1600px;

	}
	h1 {
		font-size: 5em;
	}
}

/** Header Navigation **/

@media (max-width: 767px) {
	.navbar {
		margin-bottom:0px;
	}
	.navbar-header {
		height:80px;
	}
	.navbar-header button {
		margin:25px 20px;
	}
}

@media (min-width: 768px) {
	.navbar-nav li a {
		line-height: 56px;
	}
}

.navbar-nav li a {
	line-height: 0px;
}

header .navbar-default {
	background-color: transparent;
	border:none;
}

header .navbar-default .navbar-nav a {
	color:#60aff2;
	font-size: 1.6em;
}

header .navbar-default .navbar-nav a:hover,
header .navbar-default .navbar-nav a:focus {
  color: #1a7ba2;
}

/** Navbar Brand **/

@media (min-width: 768px) {
	header .navbar-brand img {
		width:180px;
	}
}


@media (max-width: 767px) {
	header .navbar-brand img {
		height:50px;
	}	
}

header .navbar-brand a {
	padding:0px;
}

/** Sign Up **/
.sign-up-box {
	background-color:#60aff2; 
	padding-top: 30px; 
	padding-bottom: 30px;
}

.sign-up-box h3 { 
	margin-bottom:10px;
}

.disclaimer {
	font-size:1.3em;
}

.sign-up-box p {
	color:#fff;
}

.indicates-required-message {
	color:#fff;
	font-family: "Open Sans", sans-serif;
	font-weight:400;
	font-size:1.2em;
	margin:0;
	padding-bottom:5px;
}



/** Why KidMix and Features Headers **/

.features { background-color:#ae5adf;
	padding-top: 25px;
	padding-bottom: 25px;
}

.feature-box {
	padding-top: 50px;
	padding-bottom: 60px;
}

@media(max-width: 767px) {
	.feature-box {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	#why-kidmix-container {
		padding-bottom: 40px;
	}
}

.feature-box img {
	padding-top: 20px;
}


.feature-box h4 {
	padding-bottom:15px; 
	padding-top:20px;
}

.feature-box-long {
	padding-top: 30px;
}

.feature-box-long h4 {
	padding-bottom:15px; 
	font-size:1.3em;
}

@media( max-width: 767px) {
	.feature-box-long h4 {
		padding-top: 20px;
		text-align: center;
	}
	.feature-box-long img {
		display: block;
		margin-left:auto;
		margin-right:auto;
	}
}

/** Footer **/

footer p { font-size:.8em; padding-top:60px;}

/** Mailchimp form **/

#mc_embed_signup {
	margin-top:		20px;
	margin-bottom: 	20px;
	max-width:400px;
}

#mc_embed_signup input.mce_inline_error { 
	border-color:#ef325f;
}

#mc_embed_signup div.mce_inline_error {
	margin-top:10px; 
	padding: 10px 16px 10px 16px; 
	background-color:#ef325f; 
	font-weight: bold;
	font-size:14px; 
	z-index: 1; 
	color:#fff;
	display:inline-block; 
	border-radius:6px;
}

#mc_embed_signup button {
	font-weight: bold;
}