---
title: Privacy Policy

---

<h4>KidMix, Inc. Privacy Policy</h4>

<p>Last Updated: November 19, 2015</p>

<h4>Our Privacy Commitment</h4>

<p>KidMix, Inc. (“KidMix”) has developed its apps with the goal of creating a safe and enjoyable experience for children. We respect the privacy rights of users of our website and mobile applications (“mobile apps” or “apps”) and recognize the importance of protecting all information that our users may choose to share with us. To further this commitment, we have adopted this Privacy Policy to guide how we collect, use, and disclose the information you provide us, whether via the KidMix website or mobile apps. By accessing and/or using the website and/or mobile apps, you agree that information you have provided, or provide in the future, including but not limited to personal information, may be used and disclosed as described below.</p>

<h4>About KidMix</h4>

<p>KidMix is a private and secure social media platform and playdate scheduler designed for children ages 6 and up. KidMix allows your children to plan their own playdates and interact online with their friends and family all within a safe and secure parentally monitored environment. We take security seriously and have been certified by the kidSAFE Seal Program to ensure that we meet the requirements of COPPA (Children’s Online Privacy Protection Act), which helps us ensure all kids communicate in a private social network with just their friends and family. To learn more about COPPA, you may consult this simple one-page informational guide from the kidSAFE Seal Program.</p>

<h4>Privacy Overview</h4>

<p>KidMix provides a secure social network for children to communicate, learn, & share thoughts and photos with their friends and family. KidMix requires parental ID verification before allowing children to have access. The following sections describe the information we collect from parents and how children’s information is used and shared, with your consent. Please understand, however, that all information you input via the website and/or mobile apps is subject to collection, use and storage by KixMix, in accordance with this Privacy Policy.</p>

<h4>Registration</h4>

<p>KidMix requires a parent or guardian to create a user account before they can setup a profile for their child. Please notify us if you believe a child has registered without a parent’s permission.</p>

<p>During the initial registration step, we will request your name, email address, and a password to protect your account. We will send a verification email to you for your approval. Once verified, you will be directed to Identity Verification.</p>
￼
<h4>Identity Verification</h4>

<p>In order to meet the FTC’s Children’s Online Privacy Protection Act (COPPA) standards, KidMix requires parental consent verification for all users under the age of 13.</p>

<p>KidMix offers two ways to verify your identity to ensure your child’s safety, both of which require us to collect your personal information:</p>

<p>1) Verify via our patented ID verification system. Our verification system requires your full address, date of birth, and the last four digits of your social security number. Your personal information will be immediately verified or require additional change questions for ID verification approval. We will temporarily transmit any personal information to a third party data provider that is under obligation to keep your information confidential.</p>

<p>2) Verify your identity using your credit card, Paypal, or Amazon Account. A nominal fee of $1.00 is required for this verification process. There are no hidden costs or monthly fees if you opt to use this method. The privacy policies implemented by the service provider will govern the collection, storage and use of information that you provide.
Once submitted, KidMix will grant you access to the Parent Dashboard allowing you to set up your family profile.</p>

<h4>Usernames &amp; Passwords</h4>

<p>Parents are provided the option to use your email address as your username or create a unique user name. Your username will be displayed when you send a message, respond to a playdate request, or create a group, so it’s your option as to which username you would like to use. Parents are required to set their password as part of the initial registration. When setting up a child profile, you will be required to create a unique username and password for that child. Usernames and passwords are required to successfully login to the web based parent dashboard, the KidMix Dashboard App, and the children’s KidMix App.</p>

<p>Parents can reset their passwords from with the settings section of the web-based parent dashboard. For forgotten or lost passwords, please select password reset and we will send an email with instructions on how to reset the password. Parents can change child passwords at any time from within the parent dashboard.</p>

<p>To best protect your account, we recommend using a different password for KidMix than that of other websites and apps you use. We also recommend that you do not share your password and that you teach children to keep passwords secret. KidMix follows industry practices and stores passwords as a computed value that cannot be reversed or used to access other sites.</p>
￼￼￼￼￼
<p>When defining a username for your child’s account, we recommend you consider anonymous letter patterns because usernames are used to receive invitations and will be visible to the KidMix community. KidMix does not allow inappropriate words as usernames and we reserve the right to change usernames. You are responsible for controlling access to your username and password (and those of your child) and you are responsible for any communications or actions taken through your usernames and/or passwords. You agree to notify us immediately of any security breach of your account.</p>

<h4>Parent Dashboard &amp; Family Profile Setup</h4>

<p>After completing the identity verification, you will be provided access to the KidMix Parent Dashboard where you will be prompted to complete your profile and setup profiles for one or more children.</p>

<p>KidMix’s Parent Dashboard is the central location for parental oversight of all KidMix activity for your family. The parent dashboard is accessible via the KidMixApp.com website and is also available via the free KidMix Parent Dashboard App. The parent dashboard provides parents full access to your child’s KidMix Account. Parents can view all My Feed and News Feed Activity, review friends, create groups using the group creator, invite friends on behalf of your children, and send direct messaging to your child or your group.</p>

<p>When setting up your child’s profile, you are required to include the first name, first letter of last name, zip code, username, and password. For searching within KidMix’s private network, you are giving the option of including your child’s full last name, hometown, and/or age. This information will only be used so that your child can easily find their friends on the KidMix network. Additional information such as name of school, additional parental email address to be associated with your account, and guest accounts can be added as part of the profile setup process. Your child’s personal information will never be shared outside of the KidMix network, except as may be provided for in this Privacy Policy.</p>

<p>You can choose to upload a profile picture or elect to wait for your child to setup their own profile picture from within the KidMix App. In addition, you can also select Fun Facts about your child which will be featured on their profile page. Fun Facts can also be edited by your child from within the KidMix App. Optional gamer tags can be added to help with online playdate coordination. We will only share gamer tag information with friends that you approve or are notified about through the invitation process described within this Privacy Policy.</p>

<p>The preferences section within the Parent Dashboard provides parents with full control of approvals and the ability to turn them off as desired.</p>

<p>By creating a child account, you are granting your child permission to use the KidMix service and all of its features. This combined with your registration will be considered verified parent consent as described under the Children’s Online Privacy Protection Act (COPPA). Under COPPA, you have the right to review, request the deletion of, or request that we stop collecting or using your child’s personal information at any time. To do so, please contact us using the information below.</p>
￼￼
<p>KidMix is a COPPA compliant Website and Application and has been certified by the kidSAFE Seal Program. Information about the kidSAFE Seal Program can be found at www.kidsafeseal.com.</p>

<h4>Sending and Receiving Invitations</h4>

<p>When inviting others to connect through KidMix, an automated message will be sent to the recipient and the recipient’s parent with your contact information and a request to connect. Likewise, when you receive an invitation, you will be provided the details about who sent the invitation. Our goal is to make sure you clearly understand who sent the invitation so you can make an informed decision to accept as friend, limited access friend, or ignore the request.</p>

<p>When sending an invitation, we will include your child’s information based on what was provided during the initial profile setup. This could include the profile image, first name, last name, username, hometown, or postal code. We will also include your name, telephone number and email address, and a link to your Facebook account, if you have provided this information during the account registration process.</p>

<p>After a child sends an invitation to a friend, their parents will receive a notification in their mailbox requesting their review and approval for the invitation to be sent to the recipient.</p>

<p>When a child receives an invitation, their parent receives the same invitation in their mailbox for review and acceptance. The parent will then decide to accept as friend, limited access friend, or ignore the request.</p>

<p>Whether sending or receiving, we recommend you only approve invitations with trusted friends and relatives. You can review ignored invitations and change your response later using the settings in the application.</p>

<p>KidMix stores invitations for a period of 30 days. We record your response to invitations as an audit trail. If you delete a family user, we will also delete the history of invitations including your responses. Please note that it can take up to 90 days for your information and invitation history to be removed from our system.</p>

<h4>Friend Connections</h4>

<p>After you accept an invitation, a friend connection will be created between your child and the accepted friend. Friend connections will appear in your child’s friend list.</p>

<p>As a parent, you can also control access to your children’s friends from within the parent dashboard. When a parent blocks a child’s friend connection, it supersedes other settings and the connection will disappear from view with no notification to the child or the friend.</p>

<p>Friend lists are private and only visible to the user and the parent of that user.</p>
￼￼￼￼￼￼￼￼￼
<p>As described above, parents have final approval over all invitations so you should be aware of the connections your child has within their KidMix profile. At any time, parents can change the status of their child’s friends from within the Parent Dashboard. Parents can also control password access to their child’s accounts in the event they wanted to disable their access to the KidMix App.</p>

<h4>Direct Messaging</h4>

<p>KidMix includes a feature that allows direct one-way messaging from Parent to their child. These messages are delivered directly to the child’s mailbox.</p>

<h4>Status Updates &amp; Commenting</h4>

<p>KidMix provides the ability for children to post a status update from within their profile page. By default, only canned messages can be used for status updates. Children can select from a wide variety of words and phrases to complete their status message. Children do have the ability to post a custom message to be used as their status update but only if their parents approve this feature from within the parent dashboard advanced user settings. Curse words and other inappropriate content may be filtered and are not to be used. Parents can delete any status update from within the parent dashboard. KidMix also reserves the right to delete a user who uses inappropriate content within a custom status update. We automatically delete status updates 120 days following the original posting.</p>

<h4>Photos</h4>

<p>All users have the ability to upload photos, take a photo, or select from available characters from within the KidMix App to be displayed as their profile picture (which can be seen by friends and Group members) or posted in their news feed (seen by friends only). By default, all photos posted as a profile picture or a status update must be approved by the parent. Parents can allow children to post photos without approval by selecting the advanced user setting within the parent dashboard. Inappropriate photos may be filtered and are not to be posted. Parents can delete any photo posted from within the parent dashboard. KidMix also reserves the right to delete a user who posts inappropriate photos.</p>

<h4>Removing previously posted content</h4>

<p>Status updates, photos, and other comments that your child may share on their profile or news feed are viewable by KidMix users that are connected with your child. If you would like to remove a status update, comment, or photo that you child has created, you may do so by accessing the parent dashboard to delete. If you wish to delete all activity associated with your account, you should send an email to support@kidmixapp.com and provide notification to have your account deleted. Once you delete your account (including any children sub-accounts associated with your account), we will not be able to recover it for you. If you decide that you want to use KidMix again after having deleted your account, you will have to create a new one.</p>
￼￼￼￼
<p>Please note that removal of this content or information does not guarantee complete or comprehensive removal. It may take up to 10 days for us to remove content or information. After your removal request has been honored, we may retain copies of the content or information you have previously posted on our servers. We are not required to remove your posted content or information if it has been rendered anonymous or if we are required by law or other governmental order or regulation to retain it. Additionally, we do not have control over other users who may have copied any posted information.</p>

<h4>Demographic information collected</h4>

<p>We collect demographic information such as gender, date of birth, and zip code, which is anonymous information that cannot be used alone to directly identify and contact you. If demographic information is collected at the same time as your personal information, we combine the demographic information with your personal information. Demographic information is not considered personal information unless it is linked to personal information about a specific user. If you choose not to provide certain demographic information, you will not be able to successfully register an account.</p>

<h4>Playdates Scheduling</h4>

<p>KidMix’s playdate scheduler allows children to use our proprietary scheduling system to coordinate virtual or physical playdates with their connected friends. The easy to navigate scheduling process is available on the KidMix App for children and is available for parents via the Parent Web Dashboard and Parent Dashboard App. Parents are required to accept, modify, or decline all playdates that are scheduled or received. This process is outlined on our support page located on our homepage, www.kidmixapp.com.</p>

<p>KidMix takes no responsibility for the actions or events that occur before, during, or after a scheduled playdate. We advise that parents communicate with each other to finalize actual playdate activities. We are not responsible for any activities that occur during a physical playdate. We are only a scheduling system to help facilitate the coordination of a playdate between children.</p>

<h4>SmartZone</h4>

<p>The KidMix Application includes the KidMix SmartZone. KidMix’s SmartZone provides an entertaining collection of safe, regulated, kid-approved articles and videos. The SmartZone enables kids to learn more about their favorite subjects including: science, history, cooking, sports, music, art, and more. All articles, music and videos have been screened to determine they are suitable for a younger audience. All articles, music and videos can be liked, shared with connected friends, and favorited to your child’s own profile page for future reference. Articles cannot be shared outside of the KidMix Application and there are no external links that could re- direct your child to another website or application.</p>
￼
<h4>Geolocation Information</h4>

<p>The KidMix application does not request or track geolocation information from your device or your child’s device.</p>

<h4>Push Notifications</h4>

<p>When you start or download the KidMix App or after we’ve processed Identity Verification, we will request that you allow push messages to be delivered. You can change this setting at any time within your device settings.</p>

<h4>Email We Send</h4>

<p>KidMix does not share or sell email addresses. And, we are careful about the email we send to our users. In general, there are two types of email we will send:</p>

<p>Alerts and security notifications – sent from support@KidMixApp.com News and informational messages – sent from info@KidMixApp.com</p>

<p>Please do not block our support@KidMixApp.com address since we will only send important account related notifications from that address. Examples of account notifications include:</p>

<p>Email alerts. We will send you security related alerts to keep you aware of changes to your account. For example, we will notify you when a family member changes their password.</p>

<p>Parent notifications. As outlined above, we will notify you by email when an invitation or other request is awaiting your review.</p>

<h4>Advertisements</h4>

<p>KidMix is ad-free for both children and parents. We reserve the right to incorporate advertisements within the KidMix Dashboard App or KidMix App in the future.</p>

<h4>Use of Information</h4>

<p>In addition to any uses of your information described above, we may use your information to communicate with you regarding our services and your use thereof, your account information or other client service matters; to respond to your questions and instructions; to facilitate access; and to enhance, customize, and personalize your experiences and communications with us. In addition, KidMix may use your information for internal purposes such as troubleshooting our software. We do not transmit or disclose information to our service providers unless it is necessary for them to perform a business or technology function in support of our service. A few examples are listed below.</p>

<p>We use third party service providers to verify your identity, as outlined in the Identity Verification section above.</p>
￼￼￼
<p>We use third party analytics services to track usage and events in our system. For example, we track aggregate statistics for each stage of our registration process to identify areas that need improvement. When we transmit analytics data, we may include a persistent identifier such as an auto-incrementing integer that represents your account. We do not include usernames, email addresses, or other personal information that can be used to discover your identity. We may use your information to communicate with you about our services; administer surveys or other features; and display relevant marketing to you.</p>

<p>We also use third party services to track and resolve bugs and other errors in our software. When an error occurs, our applications send a description of the error to a third party server. The error may include your device information, operating system, IP address, and other persistent identifiers but we do not include your name or other personal information.</p>

<p>Information may be collected by us or by our service providers who provide internet hosting for the website. We may combine information you give us with other information from that we receive from other sources, transactions and communications. We may also combine information that you provide with data that is publicly available and data from third parties. We may disclose personal information if required by law, for example, in response to a court order or a subpoena. We may also disclose personal information if we determine that disclosure is necessary to enforce our terms of service or protect other users. This includes exchanging information with other companies and organizations for fraud protection and credit risk reduction. However, this does not include selling, renting, sharing or otherwise disclosing personally identifiable information for commercial purposes in a way that is contrary to the commitments made in this Privacy Policy. In the event of a reorganization, merger or sale (including in connection with bankruptcy or insolvency proceedings). Following such transfer the successor entity and its affiliates may use your personal information under the terms of their own privacy policies which may differ from the terms in this Privacy Policy.</p>

<h4>Information Security</h4>

<p>Information security is important to us. We have established physical, electronic and managerial safeguards designed to protect the information we collect from you or about you. These safeguards are regularly reviewed to protect against unauthorized access, disclosure and improper use of your information, and to maintain the accuracy and integrity of that data. We use a variety of security measures, including encryption and authentication tools, to help protect your information. However, like other companies, KidMix cannot guarantee 100% the security or confidentiality of the information you provide to us. Consequently, while we endeavor to safeguard your personal information against unauthorized access and disclosure, we do not warrant or guarantee the absolute security of any personal information you transmit to, from or through the website or mobile apps. If you share your computer or use a computer that is accessed by the general public, remember to sign off and close your browser window when you have finished your session. This will help to ensure that others cannot access your personal information. In the event of a breach of the confidentiality or security of your personal information, we will notify you as required by law, if reasonably possible and as reasonably necessary so that you can take appropriate protective steps. We may notify you under such circumstances using the e-mail address(es) we have on record for you or through alternative means. You should also take care with how you handle and disclose your personally identifiable information. Please refer to the Federal Trade Commission’s Web site at http://www.consumer.ftc.gov/ for information about how to protect yourself against identity theft.</p>

<h4>Third Party Privacy Policies</h4>

<p>This Privacy Policy applies to your interactions with the KixMix website and mobile apps only. Any third party websites to which you link via the KidMix website or mobile apps may contain privacy policies that differ from this one. The terms of any such third party privacy policy will apply to your use of their website. This includes with respect to any third party that we contract with in connection with providing services to you.</p>

<h4>Additional Terms</h4>

<p>Our operations are conducted within the United States. Regardless of where you live, you consent to have your personal information transferred, processed and stored in the United States, and allow KixMix to use and collect your personal information in accordance with this Privacy Policy. Please note that our website and mobile apps are not intended for use by a person in any state or country where such use would be contrary to local laws or regulations.</p>

<p>International Users: If you access the KidMix website or mobile apps from outside the United States, your connection may be through and to servers located in your country or the United States. Any personal information you provide may be processed and maintained in the United States on servers and/or other network systems operated by or for our benefit. IF THE JURISDICTION IN WHICH YOU ARE LOCATED OR YOUR COUNTRY OF ORIGIN HAS LAWS OR REGULATIONS WHICH REQUIRE THAT YOUR PERSONAL INFORMATION BE RECEIVED, USED, SAVED, TRANSFERRED AND/OR OTHERWISE HANDLED IN A MANNER DIFFERENT THAN AS STATED IN THESE THIS PRIVACY POLICY, THEN YOU ARE NOT AUTHORIZED TO UTILIZE THE SERVICES. If you access the KidMix website or mobile apps from and/or reside outside of the United States, your information may be stored, transmitted and shared in accordance with U.S. data privacy laws which may not be equivalent to those in effect in your country. YOU EXPRESSLY AGREE THAT YOU WILL NOT USE THE SITE WITH ANY EXPECTATION OF GREATER PRIVACY RIGHTS THAN THOSE TO WHICH YOU HAVE EXPRESSLY AGREED AS STATED IN THIS PRIVACY POLICY.</p>
￼￼
<h4>Contact Information</h4>

<p>We hope this document is a helpful resource for you when evaluating our service and protecting your family’s private information. If you have any questions or feedback, please contact us at support@kidmixapp.com or the address below.</p>

KidMix, LLC
12015 Darnestown Road, S-25 Gaithersburg, Maryland 20878 
www.KidMixApp.com 
240-702-0346

<p>We will respond to your requests within 5 days. We reserve the right to ask for information verifying your identity prior to disclosing to you or correcting any information you have shared with us.</p>

<h4>Governing Law</h4>

<h4>Changes to this Privacy Policy</h4>

<p>We may amend this Privacy Policy at any time. If we make changes, we will post them here and
update the effective date at the top of this policy. If we make any material changes in the way
we collect, use, or share your personal information, we will first notify more prominently, and if
necessary, obtain the prior verifiable consent of a parent or legal guardian.</p>

<p>The Privacy Policy is governed by the laws of the State of Maryland and all disputes shall be
subject to the jurisdiction of the courts serving Montgomery County, Maryland. The parties
agree to waive all right to a jury trial in connection with disputes arising under this Privacy
Policy. In no event shall KixMix ever be liable to you for indirect, consequential, or punitive
damages and our maximum liability to you in connection with this Privacy Policy shall be $100.
The laws of some jurisdictions may make the foregoing inapplicable to you.</p>