---
title: KidMix Support Page

---

<div class="container">
	<h4>KidMix Support Page</h4>

	<a href="#friends">Friends</a><br>
	<a href="#groups">Groups</a><br>
	<a href="#in-app-purchase">In-App Purchase</a><br>
	<a href="#parent-dashboard">Parent Dashboard</a><br>
	<a href="#password-help">Password Help</a><br>
	<a href="#photos-characters">Photos &amp; Characters</a><br>
	<a href="#playdates">Playdates</a><br>
	<a href="#profile-page">Profile Page</a><br>
	<a href="#registration">Registration &amp; Initial Setup</a><br>
	<a href="#security-settings">Security Settings</a><br>
	<a href="#smartzone">SmartZone</a><br>
	<a href="#status-updates">Status Updates &amp; Commenting</a><br>
	<a href="#tips">Tips &amp; Tricks</a><br>

	<div id="registration">
		<p>Registration &amp; Initial Setup Process for Parents and Children:</p>
	</div>

	<p>KidMix requires all parents to first create their own account and profile before their child can access the KidMix App.  Once registered, parents will be directed to the Parent Dashboard to setup their own profile and to create a profile for each of their children. After creating a username and password for your child, your child can then log into the KidMix App. Parents can also download and access the KidMix Dashboard app for easy access to most of the Parent Dashboard features
	Here’s how to get started:</p>
	<ul>
		<li>Go to <a href="http://www.kidmixapp.com">www.kidmixapp.com</a> and select “Sign Up”</li>
		<li>Enter your Name, Email Address, Create a Password, and confirm that you have reviewed the Terms &amp; Conditions and Privacy Policy.</li>
		<li>You will be sent a verification Email immediately, so please check your email to verify.</li>
		<li>Next step is to verify your Identity by providing more information (Address, DOB, SSN) or by selecting one of 3 payment options ($1 charge for the payment options).</li>
		<li>Once Approved, you will be directed to the Parent Profile setup.</li>
		<li>Once the parent profile is setup, please setup a profile for your child.</li>
		<li>Once completed, your child can log into the free KidMix App. The App is available by downloading from Apple App Store, Google Play, or Amazon App store. There is also an available Parent Dashboard App available for each access to the Parent Dashboard features.</li>
	</ul>

	<div id="password-help">
		<h4>Password Help:</h4>
	</div>

	<p>If you forgot your Parent password, please follow the following steps to reset:</p>
	<ul>
		<li>Go to <a href="http://www.kidmixapp.com">www.kidmixapp.com</a> and select "Login"</li>
		<li>Select Forgot Password</li>
		<li>Follow Steps to reset your password.</li>
	</ul>
	<p>If you forgot your child password, please follow the following steps to reset:</p>
	<ul>
		<li>Log into the Web Based Parent Dashboard with your parent username/password</li>
		<li>Access your child’s profile</li>
		<li>Follow Steps to reset your child’s password</li>
	</ul>
	<p>To Change the Parent or Child password, please follow the following steps:</p>
	<ul>
		<li>Log into the Web Based Parent Dashboard (dashboard.kidmixapp.com)</li>
		<li>Select Account settings on the top right dropdown menu</li>
		<li>Select Parent or Child Account</li>
		<li>Select change password and enter a new password</li>
		<li>Press save and the new password will be active!</li>
	</ul>

	<div id="parent-dashboard">
		<h4>Parent Dashboard</h4>
	</div>

	<p>The KidMix Parent Dashboard is the central location for parents to setup their own profile, their child’s profile, create guest access users, and access all features of the KidMix platform. The Parent Dashboard is available on any Web Browser or via the KidMix Parent Dashboard App. The Dashboard App is available on iOS or Android for free download. Some features are only available on the Web Based Dashboard.</p>

	<div id="security-settings">
		<h4>Security Settings</h4>
	</div>

	<p>KidMix offers two levels of security for children:  Limited User and Trusted User.  Parents can set the security level from within the child profile of the Web Based Parent Dashboard.</p> 
	
	<p>Limited User: </p>

	<p>Limited user setting is generally meant for younger kids.  All status updates, profile picture changes, posted photos, friend invites, group invites, and playdates must be approved by the parent before posting.  Only canned messaging can be used for status updates. No custom written messages are allowed.</p>

	<p>Trusted User: </p>

	<p>Trusted user setting is generally meant for older kids. Trust mode users will have the ability to write in their own status updates, change profile pictures, post photos, accept friend invites, accept group invites without parental approval. Parents will have oversight and deletion capabilities via the parent dashboard. Playdates will still need parental approval. </p>

	<h4>Usage Restrictions</h4>

	<p>Parents are able to set time restrictions for when their child can or cannot have access to the KidMix App. Settings are based on hourly restrictions and can be setup within the child settings on the Web Parent Dashboard. This feature is currently not available on the KidMix Dashboard App.</p>

	<div id="friends">
		<h4>Friends</h4>
	</div>

	<p>Inviting Friends who are on KidMix Network:</p>

	<p>In order to search and connect with friends who are on the KidMix network, please these steps: <br>
	Using the KidMix App:</p>
	<ul>
		<li>From the Home Screen, select Friends &amp; Groups, then select Invite Friends</li>
		<li>You can search for friends by Username, First Name, Last Name, Birth Month, Zip Code, or by entering their parent’s Phone Number or email address.</li>
		<li>Press Search and view the results</li>
		<li>Select the friend you want to connect with and press "Send Friend Request"</li>
	</ul>
	<p>Using the Web Parent Dashboard:</p>
	<ul>
		<li>From the Friends Tab, select Add a Friend</li>
		<li>You can search for friends already on the KidMix network by entering one or more of the following criteria:  Username, First Name, Last Name, Birth Month, Zip Code, Parent’s Phone Number or Parent’s email address.</li>
		<li>Press Search and view the results</li>
		<li>Select the friend you want to connect with and press "Send Friend Request"</li>
	</ul>

	<p>Using the KidMix Dashboard App:</p>
	<ul>
		<li>From within the Invite Friends Tab, select Add a Friend</li>
		<li>You can search for friends already on the KidMix network by entering one or more of the following criteria:  Username, First Name, Last Name, Birth Month, Zip Code, Parent’s Phone Number or Parent’s email address.</li>
		<li>Press Search and view the results</li>
		<li>Select the friend you want to connect with and press "Send Friend Request"</li>
	</ul>

	<p>Inviting Friends who are not on the KidMix Network:<br>
	In order to invite a friend to join KidMix, please follow the following steps: <br>
	Using the KidMix App:</p>
	<ul>
		<li>From the Home Screen, select Friends &amp; Groups</li>
		<li>Enter the Phone Number or Email address of the child’s parent you are trying to invite.</li>
		<li>Press Invite</li>
		<li>The parent of the child will then receive a request to join KidMix</li>
		<li>Once the Parent registers and creates a profile, your friend request will be in the parent’s mailbox. </li>
	</ul>

	<p>Using the Web Parent Dashboard:</p>
	<ul>
		<li>From the Friends Tab, select Add a Friend</li>
		<li>On the bottom half, enter the parent’s Email address or Phone Number of the child you are trying to invite.</li>
		<li>Press Invite</li>
		<li>The parent of the child will then receive a request to join KidMix</li>
		<li>Once the Parent registers and creates a profile, your friend request will be in the parent’s mailbox. </li>
	</ul>

	<p>Using the KidMix Dashboard App:</p>
	<ul>
		<li>From within the Invite Friends Tab, select Add a Friend</li>
		<li>On the bottom half, enter the parent’s Email address or Phone Number of the child you are trying to invite.</li>
		<li>Press Invite</li>
		<li>The parent of the child will then receive a request to join KidMix</li>
		<li>Once the Parent registers and creates a profile, your friend request will be in the parent’s mailbox. </li>
	</ul>

	<div id="profile-page">
		<h4>Profile Page</h4>
	</div>

	<p>Each child will have their own profile page on the KidMix App.  <br>
	Profile pages include the following:</p>
	<ul>
		<li>Profile Picture</li>
		<li>Background photo</li>
		<li>Status Update Message Box</li>
		<li>Comments, Emojis, Likes</li>
		<li>Fun Facts</li>
		<li>My Feed</li>
	</ul>

	<p>Profile Picture and Background Images can be changed by pressing on the image and selecting from the available options.  Additional Background images will be available for purchase.</p>

	<p>Fun Facts can be updated by selecting a particular topic and choosing a new fact.  Users can delete a Fun Fact by sliding to the left and selecting delete.  Users can add a new Fun Fact by pressing the small + on the bottom left and selecting a new Fun Fact.</p>

	<div id="status-updates">
		<h4>Status Updates &amp; Commenting</h4>
	</div>

	<p>KidMix allows children to either post their own status updates or select from canned messages to share with their friends.  See <a href="#security-settings">Security Settings</a> to decide on which setting a parent can choose for their child.</p>

	<p>To post a custom status update, simple enter a short message on your profile page and press post.   Only connected friends and their parents will have visibility to the status update.  Friends can “Like” or “Comment” on a status update by selecting the like button or choosing a canned comment.</p>

	<p>Kids can post a message on a friend’s wall by viewing a friend’s profile and inserting a message.  This message will be sent to that friend’s mailbox to review.  If that friend decides to approve the message and post on their wall, then others will be able to view, like, and comment on that status update.  The friend can also elect to just view the message and not approve the message to be posted on their wall.</p>

	<div id="groups">
		<h4>Groups:</h4>
	</div>

	<p>As a Parent you will be able to create groups for your child to be associated with. Children will not be able to create groups, they can only view and message groups.  Groups can include sports teams, classmates, clubs, neighborhood friends, relatives, church/synagogue friends, etc...<br><br>
	Create a Group using the Web Parent Dashboard:</p>
	<ul>
		<li>From the Groups tab on the Parent Dashboard, select New Group on the top right.</li>
		<li>Enter the name of group</li>
		<li>Select Group members using one of these options:</li>
		<li>Select from connected friends</li>
		<li>Search and connect with existing KidMix members</li>
		<li>Add email or phone number for non KidMix members </li>
		<li>Add an optional group description</li>
		<li>Add an optional photo for the group</li>
		<li>Select create to complete</li>
	</ul>

	<p>Create a Group using the KidMix Dashboard App:</p>
	<ul>
		<li>From the Groups tab on the Parent Dashboard, select New Group on the top right.</li>
		<li>Enter the name of group</li>
		<li>Select Group members using one of these options:</li>
		<li>Select from connected friends</li>
		<li>Search and connect with existing KidMix members</li>
		<li>Add email or phone number for non KidMix members </li>
		<li>Add an optional group description</li>
		<li>Add an optional photo for the group</li>
		<li>Select create to complete</li>
	</ul>
	
	<h4>Message a Group:</h4>

	<p>Parents and Children can message a group when viewing a group.  When viewing a group, select message group.  Parent can write their own message which will be delivered to each member of the group.  Children can select from a canned message to be delivered to the mailbox of each group member </p>

	<h4>Adding a Child to a Group</h4>
	<p>Coming soon...</p>

	<h4>Removing a Child from a Group</h4>
	<p>Coming soon...</p>
	
	<p>We recommend the use of the Web Dashboard when creating large groups or inviting multiple in-network or out of network friends.  You have the ability to copy and paste email lists on the Web Dashboard.</p>

	<div id="playdates">
		<h4>Playdate Scheduler:</h4>
	</div>

	<p>The KidMix Playdate scheduling feature allows children to plan and coordinate their own playdates.  Kids can handle the logistics and parents just need to approve.  Parents have the ability to edit or modify any playdate that is scheduled before the playdate is confirmed by both parties.  Online playdates are available as well for those that want to connect via their online gaming platform.  Online gaming tags can be added to your child’s profile from within the web based parent dashboard.  Here’s how to get started:<br><br>
	Parent Dashboard Version:</p>
	<ul>
		<li>Log into the Web Based Parent Dashboard</li>
		<li>Select Child that you would like to schedule the Playdate for</li>
		<li>Select Playdates Tab,  Calendar Tab, or Friends Tab to access the “Plan a Playdate” feature</li>
		<li>Select Plan a Playdate</li>
		<li>Select Type of Playdate (Online or In-Person) </li>
		<li>Select criteria of playdate and who is invited.</li>
		<li>Click on “Create” after all selections have been made. </li>
		<li>Your playdate invite will be sent to the invitee and their parent for review and approval. </li>
		<li>You will be notified in your mailbox for who accepted, declined, or modified the playdate request.</li>
		<li>If accepted, the playdate will be confirmed and appear on both your child’s and your playdate log and be added to both calendars.</li>
	</ul>
	<p>Mobile App Version:</p>
	<ul>
		<li>Log in with your child’s Kidmix app using their username and password.</li>
		<li>Select the Playdate feature from the home screen. </li>
		<li>Select Type of Playdate (Online or In-person) </li>
		<li>Select criteria of playdate and who is invited.</li>
		<li>Click on “Send Invite” at the bottom of the screen after all selections have been made. </li>
		<li>Your playdate invite will be sent to the invitee and their parent. </li>
		<li>Wait for friend’s parent to accept or modify the playdate.</li>
		<li>You will be notified in your mailbox for who accepted, declined, or modified request</li>
		<li>If accepted, the playdate will be confirmed and appear on both your child’s and your playdate log and be added to both calendars.</li>
	</ul>

	<div id="smartzone">
		<h4>SmartZone:</h4>
	</div>

	<p>The SmartZone is a collection of educational and fun videos that have been reviewed to ensure they are kid friendly.  Videos can be saved to the favorites folder, liked, or shared.  The sharing function is a premium feature and can be unlocked using KidMix credits.</p>

	<p>SmartZone can be accessed on the KidMix App or on the KidMix Dashboard app.  SmartZone is not available on the web.</p>

	<div id="photos-characters">
		<h4>Photos &amp; Characters:</h4>
	</div>

	<p>When selecting Photos &amp; Characters from the KidMix App homepage, users are provided the following options:<br>
	Take a Photo – Allows the user to take a photo using their device camera<br>
	Upload a Photo – Allows the user to upload a photo from their device to their KidMix photo gallery<br>
	Photo Gallery – Directs the user to their KidMix photo gallery of all their Photos &amp; Characters<br>
	Create a Character – Directs the user to our optional Character Creator. </p>

	<h4>Photos Capacity</h4>
	<ul>
		<li>All user accounts include Photo Capacity for up to 20 Photos.  Additional photo capacity can be purchased in varying increments via In-App purchase</li>
		<li>Photos can be deleted by choosing a photo in the gallery and selecting delete photo</li>
	</ul>
	
	<h4>Photo Editor:</h4>

	<p>The Photo Editor is a fun feature that allows children to customize their own photos by cropping and adding stickers.  The saved image can then be used for a profile picture or shared with friends.</p>

	<p>The Photo Editor is view only in the included free version.  Upgrading to the premium version is required to save photos that have been edited.  The premium version can be unlocked buy purchase using your KidMix credits.  The premium version increased your photo capacity by 10 photos.<br>
	To access the Photo Editor, follow these steps</p>
	<ul>
		<li>Log into the KidMix App with child’s username &amp; password.</li>
		<li>Select Photos &amp; Characters</li>
		<li>Select photo from the Photo Gallery </li>
		<li>Tap on the photo you would like to edit and select “Photo Editor”</li>
		<li>Choose the stickers you would like to use and when you are done, tap the “Save” button.</li>
		<li>Your photo will now be saved in your Photo Gallery. You will be able to select and choose this photo as a profile picture or post the photo for your friends to view.</li>
	</ul>

	<h4>Characters</h4>

	<p>KidMix offers a selection of free characters to use as a profile picture or to share with friends. There are also characters available for purchase. These characters have a KidMix credit cost associated with one or multiple characters.  Characters will be updated on a regular basis. Any character purchased will be made available in the character gallery and would not count towards photo capacity used.</p>

	<h4>Character Creator</h4>

	<p>The Character Creator is a fun feature that allows children to customize their own character with many outfits and body images. The saved image can then be used for a profile picture or shared with friends.
	The Character Creator is view only in the included free version. Upgrading to the premium version is required to save characters that have been created. The premium version can be unlocked buy purchase using your KidMix credits. The premium version increased your photo capacity by 10 photos.<br>
	To access the Character Creator, follow these steps</p>
	<ul>
		<li>Log into the KidMix App with child’s username &amp; password.</li>
		<li>Select Photos &amp; Characters</li>
		<li>Select Character Creator</li>
		<li>Scroll through the different options and save character when complete.</li> 
		<li>Character can be viewed and accessed in the Photo &amp; Character Gallery>Characters.</li>
	</ul>

	<div id="in-app-purchase">
		<h4>In-App Purchases:</h4>	
	</div>

	<p>There are In-App purchases available on all devices. You will be able to purchase “KidMix Credits” using your Apple, Google Play, or Amazon account.  With KidMix credits, you or your children will be able to purchase a variety of features including but not limited to the Photo Editor, the Character Creator, Character packages, Extra photo capacity, SmartZone sharing, extra emojis, themes, and other cool features. </p>

	<div id="tips">
		<h4>Tips &amp; Tricks:</h4>
	</div>
	<p>Coming soon...</p>
</div>
